# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
    *       @Roshan1299 @Garrrrrrrr @bhuvanchandar7 @cire005 @alizainmalik @rayanzhi9
